* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-image: linear-gradient(45deg, #282828, #4B4B4B);
    color: #FF9F47;
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 18px;
}

h3 {
    background-color: #313133;
    border-bottom: #888888 solid 2px;
    border-radius: 5px 5px 0 0;
    padding-top: 10px;
    font-weight: 400;
    text-align: center;
}



.App {
    width: 900px;
    height: 600px;
    margin: auto;
    padding-top: 150px;
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 400px 50px;
}

.playerslist-container {
    background-color: #212121;
    width: 250px;
    height: 400px;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 25);
    border-radius: 5px 5px 0 0;
}

.teamslist-container {
    /* padding: 0 20px; */
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: space-evenly;

}

.team {
    background-color: #212121;
    width: 150px;
    height: 380px;
    float: left;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 25);
}

.teamsnumber-container {
    background-color: #212122;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 25);
    border-radius: 5px 0 0 5px;
    margin-left: 20px;
}

.form-container {
    background-color: #313133;
    border-radius:  0 0 5px 5px;
    border-top: #888888 solid 2px;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 100);
}

.draw-button {
    background-color: #212121;
    box-shadow: 0 0 5px  rgba(0, 0, 0, 25);
    border-radius: 0 5px 5px 0;
}

.select{
    border: 0 !important;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: #4e4e4e;
    color: #FF9F47;
    cursor:pointer;
}